<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mysekolah">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySekolah"
        android:requestLegacyExternalStorage="true"
        >
        <activity android:name=".ExportExamResult"></activity>
        <activity android:name=".Export_Qualification" />
        <activity android:name=".Discipline_Result" />
        <activity android:name=".Discipline_Form" />
        <activity android:name=".sign_up_role" />
        <activity android:name=".Sign_Up" />
        <activity android:name=".Login_page" />
        <activity android:name=".Check_in_scan" />
        <activity android:name=".Check_in" />
        <activity android:name=".Tertiary_Info" />
        <activity android:name=".Academic_Qualification" />
        <activity android:name=".ExamResultTable" />
        <activity android:name=".SchoolEnrollment.PreSchoolForm3" />
        <activity android:name=".ExamResultForm" />
        <activity android:name=".SchoolEnrollment.EnrollOrStatusPre" />
        <activity android:name=".SchoolEnrollment.PreSchoolForm2" />
        <activity android:name=".SchoolEnrollment.PreSchoolForm" />
        <activity
            android:name=".PersonalityCareerTest.ResultPersonalityTest"
            android:label="@string/title_activity_result_personality_test"
            android:theme="@style/Theme.MySekolah.NoActionBar" />
        <activity android:name=".PersonalityCareerTest.PersonalTestQuestion" />
        <activity
            android:name=".PersonalityCareerTest.InstuctionPage"
            android:theme="@style/Theme.MySekolah.PopMe" />
        <activity android:name=".PersonalityCareerTest.PersonalityTestHome" />
        <activity android:name=".Attendance_Table" />
        <activity android:name=".att_select_child" />
        <activity android:name=".Attendance_Form" />
        <activity android:name=".Apply_pending" />
        <activity android:name=".Apply_fail" />
        <activity android:name=".Apply_success" />
        <activity android:name=".SchoolEnrollment.Enroll_Check_IC_Pre" />
        <activity android:name=".child_performance" />
        <activity android:name=".SchoolEnrollment.SchoolEnroll" />
        <activity android:name=".NotificationPage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".HomePage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Introductory_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>